.header img {
  width: 25px;
  height: 25px;
}

.header {
  background-color: greenyellow;
}

.nav {
  background-color: darkkhaki;
  padding: 5px;
  padding-right: 100px;
}

.page-content {
  display: flex;
  flex-direction: row;
}

.main-content {
  background-color: dodgerblue;
  padding-right: 100%;
}

.avatar-img {
  width: 100px;
  height: 100px;
}

.head-img {
  width: 100vw;
  height: 130px;
}

.nav a {
  color: black
}

.nav a.active {
  color: white;
}